.informational {
    grid-area: i;
    margin-bottom:30px;
    grid-template-columns:1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "infotext"
    "infotext"
    "info"
    "info"
    "info"
    "info"
    "button"  
    ;
  }
  
  @media only screen and (max-width: 1200px){
    .informational {
      grid-template-columns: 30px 1fr 30px;
      grid-template-rows: repeat(7, 1fr);
      grid-template-areas: 
      ". infotext ."
      ". infotext ."
      ". info ."
      ". info ."
      ". info ."
      ". info ."
      ". button ."  
      ;
    }
  }
  
  div[class^="informational-item-"] {
    width:344px;
    /* grid-area:info; */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 344px;
    grid-template-rows: 4fr 1fr 1fr;
    grid-template-areas: 
    "image"
    "image"
    "image"
    "image"
    "first"
    "second"
    ;
  }
  
  div[class^="informational-item-"]:nth-child(2) {
    margin: 0 20px;
  }  
  
  @media only screen and (max-width: 1200px){
    div[class^="informational-item-"] {
      grid-template-columns: 30px 1fr 30px;
      grid-template-rows: 4fr 1fr 1fr;
      grid-template-areas: 
      ". image ."
      ". image ."
      ". image ."
      ". image ."
      ". first ."
      ". second ."
      ;
    }
  }
  
  .info-text {
    grid-area:infotext;
    font-size: 34px;
    margin: 30px;
    display: block;
    padding: 30px 0px;
    line-height: 1.25;
  }
  
  .info-image-holder {
    grid-area: image;
    width:344px;
    height:180px; 
  }
  
  .info-image-holder > img {
    display: block;
    justify-self: center;
    position: absolute;
    display: block;
    object-fit: cover;
    height: 180px;
    width: 344px;
  }
  
  .info-catch-text{
    grid-area:first;
    font-size: 20px;
    padding: 15px 20px 10px 20px;
  }
  
  .info-description {
    grid-area:second;
    font-size: 12px;
    line-height: 1.5;
    padding: 0 50px 30px 50px;
    color: #7B7B7B;
  }
  
  .info-cards{
    display: flex;
    justify-content: space-between;
  }
  
  @media only screen and (max-width: 1200px){
    .info-image-holder {
      grid-area: image;
      width:430px;
      height:225px; 
    }
    
    .info-image-holder > img {
      display: block;
      justify-self: center;
      position: absolute;
      display: block;
      object-fit: cover;
      height: 225px;
      width: 430px;
    }
  
    .info-cards {
      grid-area:info;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .info-start{
    grid-area: button;
    font-family: scandia-regular;  
    border:none;
    font-size: 12px;
    width: 50%;
    max-width: 320px;
    height: 48px;
  }